
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>졸업작품 프로젝트_너랑나(YOU&I)</title>
  <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../img/favicon.ico" type="image/x-icon">

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../css/resume.css" rel="stylesheet">

  <style>

    .bg-primary2 {
      background-color: rgb(199, 238, 176) !important;
    }
    
    .text-primary2 {
      color:  rgb(199, 238, 176)  !important;
    }
    
    a {
      color: rgb(4, 32, 59) !important;
    }
    
    a:hover, a:focus, a:active {
      color: rgb(255, 255, 255) !important;
    }
    
    </style>

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary2 fixed-top" id="sideNav">
    <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="../index.html#project"><i class="fas fa-arrow-left"> BACK</i></a>
      </li>
    </ul>
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Graduation Exhibition Project</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" style="width: 120px; height: 120px;" src="../img/youi_logo.png" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#GraduProject">Graduation Exhibition Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#Project">Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#review">review</a>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="GraduProject">
      <div class="w-100">
        <h1 class="mb-0"><span style="font-size: 60px;">Graduation Exhibition Project</span><br>
          <span class="text-primary2" style="font-size: 45px;">너랑 나(YOU & I)</span>
        </h1><br>
      <img src="../img/youi_main.JPG" style="width: 550px; height: 300px;">
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h2 class="mb-5">ABOUT</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Graduation Exhibition Project</h3>
            <div class="subheading mb-3"></div>
            <div>구현기간 : <span class="text-primary">2019.01 ~ 2019.05</span></div><br>
            <p>'너랑 나' 라는 청첩장 커스텀 & 판매 사이트입니다. <br>
			    인생의 빛나는 순간의 시작을 함께하고 싶어서 만들었습니다. </p>
            <p>&lt;개발환경&gt;<br>language : JSP, HTML5, CSS3, Javascript, jQuery<br>IDE : EditPlus
            </p>

          </div>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="Project">
      <div class="container">
      <div class="w-100 thumbnailBody">
        <h2 class="mb-5">Project</h2>
        
        <table>
          <tr>
            <td><img src="../img/youi_main.JPG" style="width: 400px; height: 300px; border: 1px solid rgb(199, 238, 176);"></td>
          </tr>
          <tr>
            <td style="padding-bottom: 20px; padding-top: 20px;">프로젝트 메인 화면입니다.<br>
              주요 기능으로는 청첩장 구매, 청첩장 커스터마이징, 게시판 등이 있습니다.</td>
          </tr>
        </table><br>

        <table>
          <tr>
            <td><img src="../img/youi_custom.JPG" style="margin-right:150px; width: 400px; height: 300px; border: 1px solid rgb(199, 238, 176);" onclick="full_scr1();"></td>
            <td><img src="../img/youi_cart.JPG" style="width: 400px; height: 300px; border: 1px solid rgb(199, 238, 176);" onclick="full_scr2();"></td>
          </tr>
          <tr>
            <td style="padding-top: 20px; padding-bottom: 40px;">청첩장을 직접 커스터마이징 할 수 있는 페이지입니다.<br>배경색, 패턴, 이미지 업로드, 테두리, 예식정보 등을 입력할 수 있습니다.<br>그리고 선택하면 바로 적용되어 나타나고,<br> DB에 정보가 담기게 됩니다.</td>
            <td style="padding-top: 20px; padding-bottom: 40px;">장바구니 페이지입니다.<br>고객이 만든 완성본 이미지 미리보기, 상품명, 수량, <br>용지종류, 사이즈, 금액 등이 표시되며,<br>총 주문금액, 장바구니 삭제, 주문하기 버튼이 있습니다.</td>
          </tr>
          <tr>
            <td><img src="../img/youi_order.JPG" style="margin-right:150px; width: 400px; height: 300px; border: 1px solid rgb(199, 238, 176);" onclick="full_scr3();"></td>
            <td><img src="../img/youi_notice.JPG" style="width: 400px; height: 300px; border: 1px solid rgb(199, 238, 176);" onclick="full_scr4();"></td>
          </tr>
          <Tr>
            <td style="padding-top: 20px; padding-bottom: 40px;">결제 페이지입니다.<br>장바구니의 정보를 불러온 뒤, 배송지 정보, 결제 정보 등을 입력하게 됩니다.</td>
            <td style="padding-top: 20px; padding-bottom: 40px;">공지사항 페이지입니다.<br>관리자만 글을 등록할 수 있고, 글 제목, 조회수, 작성일 등이 표시됩니다.</td>
          </Tr>
        </table>
      </div>
   
  <br><br><br>
  <hr class="m-0">

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="review">
    <div class="w-100">
      <h2 class="mb-5">REVIEW</h2>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">소감</h3>
          <div class="subheading mb-3"></div>
          <p style="line-height: 30px;">
            과 특성상 여러 가지를 배우다가 개발을 조금 배운 뒤 웹사이트 하나 전체를 구현하는 것은<br>
            부담감도 많았고, 힘들었다. 하지만 1차,2차,3차 심사 전 팀원들과 상의하고, 구글링하며<br>
            많은 것을 배웠고 부족한 점이 많다는 것도 많이 느끼게 되었다.<br>
            그래서 더 배워야겠다는 필요성을 절실히 느끼게 되기도 하고, 개발에 좀 더 관심이 생겼던 것 같다.<br>
            처음 해본 웹프로젝트였지만 졸업작품 전시회를 잘 마무리하면서 뿌듯했다.<br>
            이 프로젝트는 JSP MVC1을 활용하였는데, JSP MVC2를 활용하여 다시 만들어보고싶기도 하다.
          </p>
        
        </div>
      </div>


    </div>
  </section>





  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../js/resume.min.js"></script>

  <br><br><br><br>
  <br><br><br><br>
</body>

</html>
