
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>세미프로젝트_Petner+</title>
  <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../img/favicon.ico" type="image/x-icon">

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../css/resume.css" rel="stylesheet">

  <style>

    .bg-primary2 {
      background-color: rgb(240, 184, 205) !important;
    }
    
    .text-primary2 {
      color:  rgb(240, 184, 205)  !important;
    }
    
    a {
      color: rgb(4, 32, 59) !important;
    }
    
    a:hover, a:focus, a:active {
      color: rgb(255, 255, 255) !important;
    }
    
    </style>

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary2 fixed-top" id="sideNav">
    <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="../index.html#project"><i class="fas fa-arrow-left"> BACK</i></a>
      </li>
    </ul>
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Semi Project</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" style="width: 120px; height: 120px;" src="../img/petner_logo.jpg" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#SemiProject">Semi Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#Project">Project</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#myCode">myCode</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#review">review</a>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="SemiProject">
      <div class="w-100">
        <h1 class="mb-0"><span style="font-size: 60px;">Semi Project</span><br>
          <span class="text-primary2" style="font-size: 45px;">Petner+(페트너플러스)</span>
        </h1><br>
      <img src="../img/petner_main.JPG" style="width: 550px; height: 300px;">
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h2 class="mb-5">ABOUT</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Semi Project</h3>
            <div class="subheading mb-3"></div>
            <div>구현기간 : <span class="text-primary">2020.01 ~ 2020.02</span></div><br>
            <p>PETNER+라는 반려동물 관리 사이트로써, 반려동물 호텔, 병원, 미용 등<br> 
               사이트들을 소개시켜주고 예약이 가능하게 해주는 사이트<br>
               (반려동물을 위한 중개 사이트)
                
            <p>&lt;개발환경&gt;<br>language : JSP, HTML5, CSS3, Javascript, jQuery<br>IDE : Eclipse
            </p>

          </div>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="Project">
      <div class="container">
      <div class="w-100 thumbnailBody">
        <h2 class="mb-5">Project</h2>
        
        <table>
          <tr>
            <td><img src="../img/petner_main.JPG" style="width: 400px; height: 300px; border: 1px solid rgb(240, 184, 205);"></td>
          </tr>
          <tr>
            <td style="padding-bottom: 20px; padding-top: 20px;">프로젝트 메인 화면입니다.<br>
              주요 기능으로는 미용,호텔,병원 중개 기능, 결제, 게시판, 관리자페이지 등입니다.</td>
          </tr>
        </table><br>

        <table>
          <tr>
            <td><img src="../img/petner_home.JPG" style="margin-right:150px; width: 400px; height: 300px; border: 1px solid rgb(240, 184, 205);" onclick="full_scr1();"></td>
            <td><img src="../img/petner_detail.JPG" style="width: 400px; height: 300px; border: 1px solid rgb(240, 184, 205);" onclick="full_scr2();"></td>
          </tr>
          <tr>
            <td style="padding-top: 20px; padding-bottom: 40px;">Petner+의 호텔,병원,미용의 공통적인 Home페이지입니다.<br>
            Type으로 구분되어 있으며, 페이징처리, 검색기능이 있습니다.</td>
            <td style="padding-top: 20px; padding-bottom: 40px;">Penter+의 호텔,병원,미용의 공통적인 상세페이지입니다.<br>
            사진은 Slide로 넘어가게 처리되어 있습니다.<br>
            체크박스로 세부서비스를 미리 볼 수 있습니다.<br>
            체크박스 값을 불러온 뒤 split으로 하나하나 나눠서 출력합니다.<br>
            아래쪽 메뉴는 3개의 탭으로 나뉘어져 있고, 상세정보/후기/문의로 되어 있습니다.</td>
          </tr>
          <tr>
            <td><img src="../img/petner_map.JPG" style="margin-right:150px; width: 400px; height: 300px; border: 1px solid rgb(240, 184, 205);" onclick="full_scr3();"></td>
            <td><img src="../img/petner_qna.JPG" style="width: 400px; height: 300px; border: 1px solid rgb(240, 184, 205);" onclick="full_scr4();"></td>
          </tr>
          <Tr>
            <td style="padding-top: 20px; padding-bottom: 40px;">상세페이지 중 상세정보 탭입니다.<br>
            매장의 위치를 지하철, 버스, 자가용으로 오는 방법을 알려주고<Br>
            그 외 매장에서 입력한 세부정보를 표시해줍니다.<br>
            지도는 네이버지도 API를 사용했습니다.</td>
            <td style="padding-top: 20px; padding-bottom: 40px;">상세페이지 중 문의 탭입니다.<br>
            홈페이지에 관한 문의는 QNA게시판에서 가능하고<Br>
            각 매장에 대한 문의는 이곳에 남길 수 있습니다.<br>
            로그인처리, 대댓글이 가능합니다.</td></td>
          </Tr>
          <tr>
            <td><img src="../img/petner_review.JPG" style="margin-right:150px; width: 400px; height: 300px; border: 1px solid rgb(240, 184, 205);" onclick="full_scr3();"></td>
            <td><img src="../img/petner_star.JPG" style="width: 400px; height: 300px; border: 1px solid rgb(240, 184, 205);" onclick="full_scr4();"></td>
          </tr>
          <Tr>
            <td style="padding-top: 20px; padding-bottom: 40px;">상세페이지 중 후기 탭입니다.<br>
            로그인을 한 사람만 후기를 남길 수 있고, 로그인한 이메일과<br>
            후기작성자가 같으면 수정, 삭제가 가능합니다.</td>
            <td style="padding-top: 20px; padding-bottom: 40px;">
            평점(별점 5점 만점)을 남길 수 있고<br>
            평균평점이 HOTEL리스트와 세부페이지 처음에 보이게 됩니다.</td>
          </Tr>
          <tr>
            <td><img src="../img/petner_reserve.jpg" style="margin-right:150px; width: 400px; height: 300px; border: 1px solid rgb(240, 184, 205);" onclick="full_scr3();"></td>
            <td><img src="../img/petner_pay.jpg" style="width: 400px; height: 300px; border: 1px solid rgb(240, 184, 205);" onclick="full_scr4();"></td>
          </tr>
          <Tr>
            <td style="padding-top: 20px; padding-bottom: 40px;">예약 페이지입니다.<br>
            사용자의 정보를 불러오고, 체크인/체크아웃 날짜를 선택하면<br>
            숙박일수, 1박당 요금에 따른 총 결제금액을 바로 계산해서 보여주게 되고,<br>
            DB에 이 정보들을 담게 됩니다.</td>
            <td style="padding-top: 20px; padding-bottom: 40px;">결제 페이지입니다.<br>
            아임포트(IMPORT) API를 사용하였고,<br>
            실제로 결제가 되고, 나중에 아임포트 관리자모드에서 취소도 가능합니다.</td>
          </Tr>
          <tr>
            <td><img src="../img/petner_notice.JPG" style="margin-right:150px; width: 400px; height: 300px; border: 1px solid rgb(240, 184, 205);" onclick="full_scr3();"></td>
            <td><img src="../img/petner_admin.jpg" style="width: 400px; height: 300px; border: 1px solid rgb(240, 184, 205);" onclick="full_scr4();"></td>
          </tr>
          <Tr>
            <td style="padding-top: 20px; padding-bottom: 40px;">공지사항 및 FAQ/QNA 페이지입니다.<br>
            게시판을 구현하였고, 공지사항은 관리자만 글을 작성할 수 있습니다.<br>
            FAQ는 JQUERY와 JavaScript로 미적인 기능들을 추가했습니다.<br>
            QNA는 모두가 쓰기/읽기가 가능하며, 댓글을 달 수 있습니다.</td>
            <td style="padding-top: 20px; padding-bottom: 40px;">관리자 페이지입니다.<br>
            사이트의 운영 정보를 볼 수 있습니다<br>
            또, 호텔/병원/미용 등 업체들을 직접 등록할 수 있습니다.</td>
          </Tr>
        </table>
      </div>
   
  <br><br><br>
  <hr class="m-0">

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="myCode">
    <div class="container">
    <div class="w-100">
      <h2 class="mb-5">myCode</h2>
      <p>세미때 맡은 주 파트는 예약/결제 페이지였습니다.
        <ul>
          <li>예약 정보 및 체크인&체크아웃 날짜를 선택하면 자동으로<br>
              숙박일수와 숙박 요금이 계산되어 나타나고, 예약자 정보를 불러옵니다.
          </li>
          <li><span style="font-weight: bold;">아임포트(IMPORT) API</span>를 사용하여 실제 결제를 구현하였습니다.</span></li>
          <li>예약/결제 정보들을 DB에 담아 조회할 수 있습니다.</li>
          <li>추가로 네이버 지도 API를 사용하여 지도를 구현하였습니다.</li>
        </ul>
      </p>
    </div>
    <div>
    <div class="w-100 thumbnailBody">
      <tabl>
          <td><img src="../img/petner_code_reserve.jpg" style="width: 800px; height: 550px;"></td><br>
        </tr>
        <Tr>
          <td style="margin-bottom: 20px;">예약 페이지입니다. <br>
            예약의 기본 정보들을 일단 앞의 페이지에서 불러옵니다.
            또, 체크인/체크아웃 날짜를 선택하는데 캘린더를 사용하였습니다.<br>
            선택하게되면, JavaScript로 자동으로 숙박일수, 총 결제요금을 계산하였습니다.<br>
            예약하기 버튼을 누르면 DB에 정보들이 담기게(INSERT)됩니다. 
            </td>
        </Tr>
        <tr>
          <td><img src="../img/petner_code_pay1.jpg"></td>
          <td><img src="../img/petner_code_pay2.jpg"></td>
        </tr>
        <Tr>
          <td>
              매장 추가하기 기능입니다.<br>
              라디오 버튼으로 타입을 정한 뒤 매장명, 주소, 전화번호, 메인사진 등을 입력해 줍니다.<br>
              매장추가는 매장회원이 아닌 운영자가 직접 추가하는 방법을 사용했는데 운영자가 매장의 정확한 정보를 확인 한 후 추가한다는 컨셉이었습니다.<br>
              </div>
            </td>
          <td>ADMIN 페이지에서는 주로 DB에서 리스트를 가져옵니다.<br>
              매장을 추가한 뒤에 매장정보 수정, Detail 정보 추가,수정이 가능합니다.<br>
              매장 Detail은 앞의 HOTEL등 메뉴의 리스트에 나온 매장을 클릭한 뒤 들어가는 정보들을 추가해 줍니다.<br>
          </td>
        </Tr>
      </table>
    </div>

  </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="review">
    <div class="w-100">
      <h2 class="mb-5">REVIEW</h2>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">소감</h3>
          <div class="subheading mb-3"></div>
          <p style="line-height: 30px;">
            과 특성상 여러 가지를 배우다가 개발을 조금 배운 뒤 웹사이트 하나 전체를 구현하는 것은<br>
            부담감도 많았고, 힘들었다. 하지만 1차,2차,3차 심사 전 팀원들과 상의하고, 구글링하며<br>
            많은 것을 배웠고 부족한 점이 많다는 것도 많이 느끼게 되었다.<br>
            그래서 더 배워야겠다는 필요성을 절실히 느끼게 되기도 하고, 개발에 좀 더 관심이 생겼던 것 같다.<br>
            처음 해본 웹프로젝트였지만 졸업작품 전시회를 잘 마무리하면서 뿌듯했다.<br>
            이 프로젝트는 JSP MVC1을 활용하였는데, JSP MVC2를 활용하여 다시 만들어보고싶기도 하다.
          </p>
        
        </div>
      </div>


    </div>
  </section>





  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../js/resume.min.js"></script>

  <br><br><br><br>
  <br><br><br><br>
</body>

</html>
